language: go

go:
  - "1.9.2"

# Clean and don't fail
install:
  - rm -rf public || exit 0

before_script:
  - gem install asciidoctor
  - git clone --branch v2 https://github.com/go-yaml/yaml $GOPATH/src/gopkg.in/yaml.v2
  - go get -u -v github.com/spf13/hugo
  - wget https://github.com/bmuschko/link-verifier/releases/download/v0.3/link-verifier-0.3-linux64.tar.gz -O /tmp/link-verifier.tar.gz
  - tar -xvf /tmp/link-verifier.tar.gz
  - export PATH=$PATH:$PWD/link-verifier/

# Build the website
script:
  - ./link-verifier -rootDirs content,data -includePatterns=*.yml -timeout 60
  - hugo
  - echo bmuschko.com >> public/CNAME

# Deploy to GitHub pages
deploy:
  provider: pages
  skip_cleanup: true
  local_dir: public
  github_token: $GITHUB_TOKEN
  on:
    branch: master
