language: go

go:
  - "1.7.1"

# Clean and don't fail
install:
  - rm -rf public || exit 0

before_script:
  - gem install asciidoctor
  - git clone --branch v2 https://github.com/go-yaml/yaml $GOPATH/src/gopkg.in/yaml.v2
  - go get -u -v github.com/spf13/hugo
  - wget https://github.com/bmuschko/asciidoc-link-verifier/releases/download/v0.1/asciidoc-link-verifier-0.1-linux64.tar.gz -O /tmp/asciidoc-link-verifier.tar.gz
  - tar -xvf /tmp/asciidoc-link-verifier.tar.gz -C /tmp
  - export PATH=$PATH:/tmp/asciidoc-link-verifier-0.1-linux64/
  - echo $PATH
  - ls /tmp/asciidoc-link-verifier-0.1-linux64/

# Build the website
script:
  - asciidoc-link-verifier
  - hugo
  - echo bmuschko.com >> public/CNAME

# Deploy to GitHub pages
deploy:
  provider: pages
  skip_cleanup: true
  local_dir: public
  github_token: $GITHUB_TOKEN
  on:
    branch: master
