{{ if .Site.Params.experience.enable | default false }}
{{- $experience := .Site.Language.Params.experience | default .Site.Params.experience -}}
<section id="experience" class="bc-section">
    <h3 class="bc-section-heading">Experience</h3>
    <div class="bc-card-list">
        {{ range $experience.items | default .Site.Params.experience.items }}
        {{ $company := .company }}
        {{ $companyUrl := .companyUrl }}
        {{ range .jobs }}
        <div class="bc-card">
            <div class="bc-card-date">
                {{ .date }}
            </div>
            <div class="bc-card-body">
                <h4 class="bc-card-title">
                    {{ .name }} <span class="bc-card-company">&middot; {{ if $companyUrl }}<a href="{{ $companyUrl }}" target="_blank" rel="noopener noreferrer" class="bc-card-company-link">{{ $company }}</a>{{ else }}{{ $company }}{{ end }}</span>
                    {{ if $companyUrl }}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="bc-arrow-icon">
                        <path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z" clip-rule="evenodd" />
                    </svg>
                    {{ end }}
                </h4>
                <div class="bc-card-desc">
                    {{ .content | markdownify }}
                </div>
            </div>
        </div>
        {{ end }}
        {{ end }}
        <div class="bc-card bc-card-simple bc-card-standalone" onclick="window.open('https://linkedin.com/in/benjaminmuschko', '_blank')">
            <div class="bc-card-body">
                <h4 class="bc-card-title">
                    View Full Resume
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="bc-arrow-icon">
                        <path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z" clip-rule="evenodd" />
                    </svg>
                </h4>
            </div>
        </div>
    </div>
</section>
{{ end }}
