{{ if .Site.Params.videoCourses.enable | default false }}
{{- $courses := .Site.Language.Params.videoCourses | default .Site.Params.videoCourses -}}
{{- $items := $courses.items | default .Site.Params.videoCourses.items -}}
<section id="videocourses" class="bc-section">
    <h3 class="bc-section-heading">{{ $courses.title | default .Site.Params.videoCourses.title | default "Video Courses" }}</h3>
    <div class="bc-card-list">
        {{ range $items }}
        <div class="bc-card bc-book-card" {{ if .featured }}onclick="window.open('{{ .featured.link }}', '_blank', 'noopener,noreferrer')"{{ end }}>
            <div class="bc-card-thumbnail">
                <img src="{{ .image }}" alt="{{ .title }}" loading="lazy">
            </div>
            <div class="bc-card-body">
                <h4 class="bc-card-title">
                    {{ .title }}
                    {{ if .featured }}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="bc-arrow-icon">
                        <path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z" clip-rule="evenodd" />
                    </svg>
                    {{ end }}
                </h4>
                <p class="bc-card-desc">{{ .content }}</p>
            </div>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
