{{ partial "head" . }}
  <body>
    <div id="wrap">

      <!-- Header -->
      {{ partial "header" . }}
      <div class="container">
        <div class="blog-post">  
            <h3>{{ .Site.Data.talks.name }}</h3>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="blogpost">
            {{$len := len .Site.Data.talks.source }}
            {{ range $i, $talk := .Site.Data.talks.source }}
            <h3><strong>{{ $talk.title }}</strong></h3>
    
            <p>
               {{ range $tag := $talk.tags }} 
                  <span class="label label-success">{{ $tag }}</span>
               {{ end }}
            </p>
    
            <p>{{ $talk.description | markdownify }}</p>
    
            <p>
                <a href="{{ $talk.slides }}">Slides</a> 
                {{ if $talk.video }}
                | <a href="{{ $talk.video }}">Video</a>
                 {{ end }}
            </p>
            {{ if lt (add $i 1) $len }}<hr />{{ end }}
            {{ end }}
            </div>
          </div>
      </div>

    <!-- Footer -->
    {{ partial "footer" . }}
    
  </body>
</html>